<div>
  <span><%= link_to 'Back', group_entities_path, class: 'bg-second py-1 px-2 rounded text-white  font-semibold' %></span>
  <h1 class="my-4 text-xl font-extrabold text-text md:text-2xl lg:text-3xl">Create your Transaction here.</h1>
  <%= form_with model: @entity, url: group_entities_path do |form| %>
    <div class="form-group">
      <%= form.label :name , "Name", class: 'block mb-2 text-sm font-medium text-gray-900' %>
      <%= form.text_field :name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', required: true  %>
    </div>
    <div class="form-group">
      <%= form.label :amount , "Amount" , class: 'block mb-2 text-sm font-medium text-gray-900' %>
      <%= form.text_field :amount, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', required: true  %>
    </div>
    <%= form.submit "Save", class: 'mt-5 text-white bg-second hover:bg-lightgreen-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center' %>
  <% end %>
</div>
